.main{
    text-align: center;
    border: 1px solid black; 
    box-sizing: border-box;
    flex-direction: column;
    box-sizing:border-box;
    width:400px;
    height:500px;
    padding: 50px;;
    margin:auto;
   

}
#email{
    margin-top: 10px;
    margin-bottom: 10px;
    padding:auto;
    width: 256px;
    
}
#password{
    width: 256px;
}
#login{
    margin-top: 30px;
    background-color: rgb(0, 26, 255);
    padding: 5px 100px;
    color: aliceblue;
    width: 256px;
    border-radius: 6px;
    cursor: progress;
    
}
#login:hover{
    background: #000;
    
}
img{
    width: 170px;
    height: 100px;
    margin-left: 10px;
}
/* .sample{
    
    overflow:scroll;
}
.sub{
    width: 500px;
    height: 30px;
    display: flex;
} */